* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --primary-color: rgba(50, 50, 56, 1);
  --btn-bg-color: #E1E1E6;
  --btn-color-fire: rgb(163, 46, 46);
  --btn-color-rain: rgb(2, 121, 157);
  --btn-color-forest: rgb(15, 157, 2);
  --btn-color-coffee: rgb(157, 90, 2);

  
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;

  display: grid;
  align-items: center;
  gap: clamp(10rem, 10rem + 5vw, 19.2rem);
  min-height: 100vh;
  grid-template-columns: 1fr 1fr;

  margin-left: 5vw;
  
}

button {
  background-color: transparent;
  border: none;

  cursor: pointer;
}
.card {
  display: grid;
  justify-content: center;
  gap: 4.8rem;

}

#timer {
  font-size: clamp(7rem, 7rem + 3vw, 12.6rem);
  line-height: 14.8rem;
  text-align: center;
}

#controls {
  display: flex;
  gap: 4rem;
  justify-content: center;
}

#controls button {
  transition: transform .2s;
}

#controls button:active {
  transform: scale(1.1);
}

#themes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
  max-width: 33.6rem;
}

#themes button {
  padding: 4.8rem;
  background-color: var(--btn-bg-color);

  border-radius: 24px;
  max-width: 15rem;
  max-height: 15rem;
  transition: background .4s;
  
}

#forest .on {
  background-color: var(--btn-color-forest);
}
#fire .on {
  background-color: var(--btn-color-fire);
}
#rain .on {
  background-color: var(--btn-color-rain);
}
#coffee .on {
  background-color: var(--btn-color-coffee);
}
#themes .on svg path {
  fill: white;
}

#themes button svg path {
  transition: fill .5s;
}
